body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: #27292d; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(
    to bottom,
    #272a4e,
    #272949,
    #262843,
    #26273e,
    #252639,
    #242838,
    #242a37,
    #252c36,
    #273138,
    #2c3539,
    #31393b,
    #383d3d
  );
  background-image: linear-gradient(
    to bottom,
    #272a4e,
    #272949,
    #262843,
    #26273e,
    #252639,
    #242838,
    #242a37,
    #252c36,
    #273138,
    #2c3539,
    #31393b,
    #383d3d
  );
}
.navbar {
  height: 100px;
  width: 100vw;
  position: fixed;
  z-index: 12;
  top: 0px;
  background-color: #272a4e;
}
.top_navbar {
  position: relative;
  z-index: 100;
  width: 96vw;
  padding: 2vw;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.new_post {
  background-color: #1bb76e;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 15px 8px 15px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.search {
  padding-left: 5px;
  padding-right: 45px;
  border: none;
  outline: none;
  width: 35vw;
  border-radius: 3px;
  background-color: #454469;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  position: relative;
  z-index: 2;
  margin-left: 4%;
}

button {
  cursor: pointer;
}
.ads_button {
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  background-color: #6432f9;
  color: rgb(235, 232, 232);
}
.signin_button {
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  background-color: transparent;
  color: rgb(235, 232, 232);
}
.signup_button {
  outline: none;
  border: none;
  background-color: #1bb76e;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  color: rgb(235, 232, 232);
  font-size: 15px;
  font-weight: bold;
}
.search::placeholder {
  color: #9392a8;
  color: rgb(235, 232, 232);
  background-color: transparent;
}

.search_logo {
  position: relative;
  left: -55px;
  top: 6px;
  z-index: 12;
  height: 25px;
  width: 25px;
  background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/icon-search.8d0f9b564a4659d48d8eca38b968a7f2.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.navbar_title {
  position: relative;
  z-index: 12;
  color: #aed8ea;
  text-align: center;
  font-weight: bolder;
}
.navbar_content {
  position: relative;
  z-index: 12;
  width: 90vw;
  height: 160px;
  margin: 0px auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.navbar_content_poster {
  height: 160px;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.navbar_content_poster > div:nth-child(1) {
  height: 60%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.navbar_content_poster > div:nth-child(2) {
  border-radius: 0px 0px 5px 5px;
  height: fit-content;
  width: 100%;
  text-align: center;
  color: rgb(235, 232, 232);
}
.navbar_content_poster h4 {
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.navbar_content_poster h6 {
  color: rgba(255, 255, 255, 0.589);
  font-size: 11px;
  font-weight: bolder;
  margin-top: -15px;
}
.navbar_content_poster img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.main_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent !important;
  margin-top: 100px;
}
.main_container > div {
  height: 400px;
}
.left_container {
  width: 60px;
}
.middle_container {
  width: 600px;
  text-align: center;
}

.right_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.right_card {
  height: 70px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right_card img {
  width: 70px;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  background-color: #cfcecf;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}
